USE [master]
GO
/****** Object:  Database [JokesDB]    Script Date: 12/7/2021 9:38:00 PM ******/
CREATE DATABASE [JokesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JokesDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\JokesDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'JokesDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\JokesDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JokesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JokesDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/7/2021 9:38:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 12/7/2021 9:38:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClientComments]    Script Date: 12/7/2021 9:38:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientComments](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[JokesInfoId] [int] NOT NULL,
	[CommentDateTime] [datetime] NOT NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ClientComments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JokesCategories]    Script Date: 12/7/2021 9:38:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JokesCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.JokesCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JokesInfoes]    Script Date: 12/7/2021 9:38:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JokesInfoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JokesCategoryId] [int] NOT NULL,
	[WriterName] [nvarchar](max) NULL,
	[JokesName] [nvarchar](max) NULL,
	[Jokes] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.JokesInfoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [Name], [Email], [Password]) VALUES (1, N'sadia', N'sadia@gmail.com', N'123456')
SET IDENTITY_INSERT [dbo].[Admins] OFF
SET IDENTITY_INSERT [dbo].[ClientComments] ON 

INSERT [dbo].[ClientComments] ([Id], [JokesInfoId], [CommentDateTime], [Comment]) VALUES (1, 2, CAST(0x0000ADF100E704F9 AS DateTime), N'Good')
INSERT [dbo].[ClientComments] ([Id], [JokesInfoId], [CommentDateTime], [Comment]) VALUES (2, 2, CAST(0x0000ADF100E91CE9 AS DateTime), N'Nice. Keep it up')
INSERT [dbo].[ClientComments] ([Id], [JokesInfoId], [CommentDateTime], [Comment]) VALUES (3, 2, CAST(0x0000ADF100ECD330 AS DateTime), N'Need more')
SET IDENTITY_INSERT [dbo].[ClientComments] OFF
SET IDENTITY_INSERT [dbo].[JokesCategories] ON 

INSERT [dbo].[JokesCategories] ([Id], [CategoryName]) VALUES (1, N'Category-1')
INSERT [dbo].[JokesCategories] ([Id], [CategoryName]) VALUES (3, N'Category-2')
SET IDENTITY_INSERT [dbo].[JokesCategories] OFF
SET IDENTITY_INSERT [dbo].[JokesInfoes] ON 

INSERT [dbo].[JokesInfoes] ([Id], [JokesCategoryId], [WriterName], [JokesName], [Jokes], [Image]) VALUES (1, 1, N'রাকিব হাসান', N'বোকা কুমির', N' কুমির আর শিয়াল মিলে চাষ করতে গেলো। তবে কিসের চাষ করা যায়, তাই ভাবতে লাগলো দুজন। হঠাৎ মাথায় এলো আলুর চাষের কথা। তবে এখানে কুমির এক ফন্দি আটলো। আলু হয় মাটির নীচে। তার গাছ থাকে মাটির উপরে, তা দিয়ে কোনো কাজ হয় না। এটা বোকা কুমির জানতোই না।', N'picture/7de23e8f-e0d9-4c82-8527-f15253b3bbb3.jpg')
SET IDENTITY_INSERT [dbo].[JokesInfoes] OFF
/****** Object:  Index [IX_JokesInfoId]    Script Date: 12/7/2021 9:38:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_JokesInfoId] ON [dbo].[ClientComments]
(
	[JokesInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClientComments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ClientComments_dbo.JokesInfoes_JokesInfoId] FOREIGN KEY([JokesInfoId])
REFERENCES [dbo].[JokesInfoes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClientComments] CHECK CONSTRAINT [FK_dbo.ClientComments_dbo.JokesInfoes_JokesInfoId]
GO
USE [master]
GO
