body { }

.b-box {
    background-color: #faf8f3;
    border: 1px steelblue;
    border-radius: 25px;
    box-shadow: 0px 0px 20px #d8d4d4;
    margin-bottom: 30px;
    margin-top: 50px;
    padding: 40px;
}

.jokename { font-weight: 700; }

.writername { color: brown; }

.backbutton {
    font-size: 17px;
    font-weight: 600;
    width: 120px;
}

.jokes-image {
    height: 250px;
    width: 100%;
}

.comment {
    border-radius: 20px;
    margin-bottom: 25px;
    width: 300px;
}

.comment_button {
    border-radius: 15px;
    font-size: 15px;
    margin-top: -30px;
}

.comment_section {
    background-color: #eee4dc;
    border-radius: 20px;
    height: inherit;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
    width: 500px;
}